body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    overflow-x: hidden;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    color: white;
    cursor: pointer;
}

.card-name
{
    font-size: x-large;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.cards
{
    font-family: 'Courier New', Courier, monospace;
}

.card-text
{
    font-family: 'Courier New', Courier, monospace;
}

.button
{
    size: 16px;
}