.navigation
{
    font-family: 'Courier New', Courier, monospace;
    border-radius: 5%;
    border-color: aqua;
}

.cards
{
    font-family: 'Courier New', Courier, monospace;
}

.card-text
{
    font-family: 'Courier New', Courier, monospace;
}

.button
{
    
}